@font-face {
  font-family: "Korcy";
  src: url("../../fonts/Korcy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Korcy Oblique";
  src: url("../../fonts/Korcy Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}