@font-face {
  font-family: "YoungMorin";
  src: url("../../fonts/YoungMorin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Korcy";
  src: url("../../fonts/Korcy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Korcy Oblique";
  src: url("../../fonts/Korcy Oblique.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


