:root {
  --color-background-card: #f2f2f2;
  --color-background-button: #ffffff;
  --color-text: #1c1c1e;
  --color-text-click: #ffffff;
  --color-background-body: #d8d8d8;
}

.dark-theme {
  --color-background-card: #3d3d3d;
  --color-background-button: #a3a3a3;
  --color-text: #ffffff;
  --color-text-click: #ffffff;
  --color-background-body: #212121;
}
